
body, html {margin: 0;
	padding: 0;
	font: 14px "Arial" normal;
	

}

.center,.Container,.Footer{
	width: 1300px;
	margin: 0 auto;

}
.Container{
	border: solid 2px #FF0000;
	box-sizing:border-box;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 5px;



}
.MainSecction{border: solid 2px #0000FF;
	box-sizing:border-box;
	margin-top: 1rem;
	padding: 1rem;

	display: inline-block;
	width: 65%;
	margin-right: 1rem;
	background-color:LightGray;
	height: 400px;
	border-radius: 5px;



}
.AsideSection{border: solid 2px #000000;
	box-sizing:border-box;
	margin-top: 1rem;
	padding: 1rem;
	width: 30%;
	height: 400px;
	background-color:LightGray;
	display: inline-block;
	border-radius: 5px;
   	
	
}
.Footer{
	border: solid 2px #FF4000;
	box-sizing:border-box;
	margin-top: 1rem;
	padding: 1rem;
	background-color:LightGray;
	border-radius: 5px;

}
.Header{
	border: solid 2px #04B404;
	padding: 1rem;
	box-sizing:border-box;
	background-color:LightGray;
	border-radius: 5px;

}
.MainMenu-ListItem{
	display: inline-block;
	margin-right: 1rem;
	
}
.MainMenu-ListItem a{
	text-decoration: none;

}

