
/*body{
	align:center;
	padding: 50px 0px 0px 0px;
	z-index: 0px;
}*/
.navbar-inverse{
	background: #303f9f;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color: #fff;
	background: #1a237e;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
	color: #fff;
	background: #1a237e;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu{
	background-color: #303f9f;
	color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li a:hover{
	color: #000000;
}

.tab-content{
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	padding: 10px;
}

.row-header{
	margin: 0px auto;
	padding: 0px auto;

}
.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 2px ridge;
	min-height: 400px;
}

.row-footer{
	background-color: #AFAFAF;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;

}
.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #7986C8;
	color: floralwhite;
}
address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;

}

.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.affix {
  top: 100px;
}
p{
	text-align: center;
};
.footer p{
	text-align: center;

};